body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FBF3EF;
    font-family: sans-serif;
  }
  
  .login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
  }
  .login-title{
    text-align: left;
  }
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
  }
  .login-input {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .login-input label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .login-forgot{
    text-align: right;
    font-size: 11px;
    display: block;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #E24C3B;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #B03A2C;
  }
  a {
    color: #0088E0;
    transition: color 0.2s ease-in-out;
  }
  a:hover {
    color: #006BB3;
  }
  .login-switch{
    text-align: center;
    font-size: 11px;
    display: block;
  }
  .register-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
  }
  .register-title{
    text-align: left;
  }
  .register-input {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .register-input label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .forgot-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
  }
  .forgot-title {
    text-align: center;
  }
  .forgot-text {
    text-align: center;
    font-size: 13px;
    color: #808080;
  }
  .forgot-input {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .forgot-input label {
    display: block;
    margin-bottom: 5px;
  }
  
  .forgot-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .error-message {
    color: #E24C3B;
    font-size: 14px;
    margin-top: 10px;
  
  }
  