/*
set_hours.css
Style sheet specific to set hours and set hours manager files.
Authors: Brinley Hull, Allie Stratton, Jose Leyba, Ben Renner, Kyle Moore
Creation date: 4/23/2025
Revisions:
Preconditions: None
Postconditions: None
Error conditions: None
Side effects: None
Invariants: None
Any known faults: None
*/
.content-wrapper {
    transition: margin-left 0.3s ease;
    margin-left: 10px;
}

.sidebar-active .content-wrapper {
    margin-left: 300px
}
.sidebar-deactive .content-wrapper {
    margin-left: 10px; 
}